*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(
  90deg,
  white 60%,
  rgb(242, 88, 34) 40%
);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 70px;
    display: flex;
    padding: 0 10vw;
    align-items: center;

}

img{
    margin-top: 50px;
}

.botaoMenu{
    width: 25px;
    height: 25px;
    margin-right: 100px;
    margin-left: -100px;
}

.links {
    display: flex;
    margin-left: 160px;
    list-style-type: none;
    margin-top: 60px;
}

.links a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin-left: 35px;
    user-select: none;
}    

.preto{
    display: flex;
    flex-direction: row;
}

.branco{
    display: flex;
    flex-direction: row;
}

.preto a{
    color: black;
}

.branco a{
    color: white;
}

.botaoPesquisa{
    width: 20px;
    height: 20px;
    margin-top: 65px;
    margin-left: 150px;
    margin-right: -100px;
}