*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(
  90deg,
  white 60%,
  rgb(242, 88, 34) 40%
);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 70px;
    display: flex;
    padding: 0 10vw;
    align-items: center;
}

img{
    margin-top: 50px;
    user-select: none;
}

.botaoMenu{
    width: 25px;
    height: 25px;
    margin-right: 100px;
    margin-left: -100px;
}

.links {
    display: flex;
    margin-left: 160px;
    list-style-type: none;
    margin-top: 60px;
}

.links a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin-left: 35px;
    user-select: none;
}    

.preto{
    display: flex;
    flex-direction: row;
}

.branco{
    display: flex;
    flex-direction: row;
}

.preto a{
    color: black;
}

.preto a:hover{
    color: rgb(242, 88, 34);
    transition: .3s;
}

.branco a{
    color: white;
}

.branco a:hover{
    color: rgb(0, 0, 0);
    transition: .6s;
}

.botaoPesquisa{
    width: 20px;
    height: 20px;
    margin-top: 65px;
    margin-left: 150px;
    margin-right: -100px;
}

main{
    width: 50vw;
    height: 50vh;
    padding: 20vh 10vw;
    display: flex;
    flex-direction: column;
}

main h1{
    font-size: 120px;
    color: rgb(218,167,106);
    font-family: cooper-black-std, serif;
    font-style: normal;
    user-select: none;
}

main h2{
    font-size: 50px;
    font-family: 'Old Standard TT', serif;
    font-weight: 100;
    user-select: none;
}

.vertical {
    margin-left: -190px;
    margin-top: 100px;
    position: absolute;
    width: 180px;
    height: 100px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
    user-select: none;
}

main p{
    font-size: 20px;
    font-weight: 200;
    max-width: 450px;
    margin-top: 40px;
    user-select: none;
}

main a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: solid 1px black;
    margin-top: 30px;
    transition: .5s;
    user-select: none;
    z-index: 1;
}

.borda{
    color: white;
    width: 200px;
    height: 50px;
    border: solid 1px black;
    margin-left: 13px;
    margin-top: -40px;
    z-index: 0;
    user-select: none;
}

main .botaoExplore:hover{
    background-color: rgba(218, 168, 106, 0.74);
    color: white;
}

.botaoTexto{
    margin-right: 35px;
    margin-bottom: 10px;
}

.img{
    right: 530px; 
    position:absolute;
    width: 150px;
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
} 

.prato{
    width: 285%;
    height: auto;
    margin-top: -70px;
}

.redes a{
    width: 40px;
    height: 40px;
    justify-content: center;
    border: solid 1px white;
    border-radius: 50px;
}

.facebook{
    width: 60%;
    height: auto;
    margin-bottom: 8px;
}

.redeFacebook {
    margin-top: -370px;
    margin-left: 1140px;
}

.twitter{
    width: 60%;
    height: auto;
    margin-bottom: 9px;
    margin-left: 2px;
}

.redeTwitter{
    margin-left: 1140px;
}

.instagram{
    width: 60%;
    height: auto;
    margin-bottom: 8px;
    margin-left: 2px;
}

.redeInstagram{
    margin-left: 1140px;
}

@media (max-width: 640px){
    body{
        background: linear-gradient(
      90deg,
      white 60%,
      rgb(242, 88, 34) 40%
    );
        width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    header{
        max-width: 640px;
        height: 70px;
        display: flex;
        padding: 0 2vw;
        align-items: center;
    }

    .logo img{
        width: 150px;
    }
    
    img{
        margin-top: 50px;
        user-select: none;
    }
    
    .botaoMenu{
        width: 25px;
        height: 25px;
        margin-right: 100px;
        margin-left: -100px;
    }
    
    .links {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        list-style-type: none;
        margin-top: 60px;
    }
    
    .links a{
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-size: 13px;
        margin-left: 35px;
        user-select: none;
    }    
    
    .preto{
        display: flex;
        flex-direction: column;
    }
    
    .branco{
        display: flex;
        flex-direction: column;
    }
    
    .preto a{
        color: rgb(241, 212, 177);
    }

    
    .branco a{
        color: rgb(241, 212, 177);
    }
   
    
    .botaoPesquisa{
        width: 20px;
        height: 20px;
        margin-top: 65px;
        margin-left: 30px;
    }
    
    main{
        width: 50vw;
        height: 100%;
        padding: 10vh 10vw;
        display: flex;
        flex-direction: column;
    }
    
    main h1{
        font-size: 40px;
        color: rgb(218,167,106);
        font-family: cooper-black-std, serif;
        font-style: normal;
        user-select: none;
    }
    
    main h2{
        font-size: 30px;
        font-family: 'Old Standard TT', serif;
        font-weight: 100;
        user-select: none;
    }
    
    .vertical {
        margin-left: -105px;
        margin-top: 160px;
        position: absolute;
        width: 190px;
        height: 110px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg); /* Safari/Chrome */
        -moz-transform: rotate(-90deg); /* Firefox */
        -o-transform: rotate(-90deg); /* Opera */
        -ms-transform: rotate(-90deg); /* IE 9 */
        user-select: none;
    }
    
    .vertical p{
        font-size: 13px;
    }

    main p{
        font-size: 15px;
        font-weight: 200;
        max-width: 450px;
        margin-top: 40px;
        user-select: none;
    }
    
    main a {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-decoration: none;
        color: black;
        font-size: 20px;
        width: 200px;
        height: 50px;
        border: solid 1px black;
        margin-top: 30px;
        user-select: none;
        z-index: 1;
    }

    .botaoExplore{
        width: 150px;
    }
    
    .borda{
        color: white;
        width: 150px;
        height: 50px;
        border: solid 1px black;
        margin-left: 13px;
        margin-top: -40px;
        z-index: 0;
        user-select: none;
    }
    
    main .botaoExplore:hover{
        background-color: rgba(218, 168, 106, 0.74);
        color: white;
    }
    
    .botaoTexto{
        margin-right: 35px;
        margin-bottom: 10px;
    }
    
    .img{
        right: 530px; 
        position:absolute;
        width: 150px;
        -webkit-filter: drop-shadow(10px 10px 10px #222);
        filter: drop-shadow(10px 10px 10px #222);
    } 
    
    .prato{
        width: 140%;
        height: auto;
        margin-top: 100px;
        margin-left: 460px;
    }
    
    .redes a{
        width: 35px;
        height: 35px;
        justify-content: center;
        border: solid 1px white;
        border-radius: 50px;
    }
    
    .facebook{
        width: 50%;
        height: auto;
    }
    
    .redeFacebook {
        margin-top: -120px;
        margin-left: 250px;
    }
    
    .twitter{
        width: 50%;
        height: auto;
        margin-bottom: 9px;
        margin-left: 2px;
    }
    
    .redeTwitter{
        margin-left: 250px;
    }
    
    .instagram{
        width: 50%;
        height: auto;
        margin-bottom: 8px;
        margin-left: 2px;
    }
    
    .redeInstagram{
        margin-left: 250px;
    }
   
}